.background    { background-image: url("../images/diamondssmall.png");
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("../images/lavasmall.png"); }
.wall          { background-image: url("../images/bricksmall.png"); }
.floater	   { background-image: url("../images/coinsmall.png"); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
